body {
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0PX;
}
header{
background-color: rgb(250, 250, 250);
padding: 20px;
}
#img1,#img2{
    margin-left:30px;
    float: left;
    width: 30px;
}
#inp{
    border-radius: 10px;
    width: 100%;
    padding:10px;
}
#inp01{
    margin-left:10px;
    width: 90%;
    padding:4px;
    border:1px solid black;
    border-radius:5px;
    float: right;
}
.col-sm-3{
    size: 100%;
    background-color:rgb(255, 255, 255) ;
}
.card-12{
    align-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
} 
.card-1{
  padding: 10px;
  border-radius:50px;
}
.card-1:hover{
    opacity: 1;
    background-color: rgb(247, 247, 247);
}
.card-2{
    padding: 20px;
    border-radius:5px;
  }
  .card-2:hover{
      opacity:0.5;
      background-color: rgb(247, 247, 247);
  }
  .card-3{
    padding:20px;
    border-radius:5px;
  }
  .card-3:hover{
      opacity:0.5;
      background-color: rgb(255, 255, 255);
  }
#img001{
    width:20px;
}
#img01{
    float: right;
    width: 20px;
}
#img002{
    width:150px;
}
label{
    border:2px solid rgb(211, 211, 211) ;
    border-radius: 10px;
    padding: 5px;
    margin-left: 40px;
}
label:hover{background-color: rgb(216, 216, 216);}
#btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 90%;
}
#column_1{
    margin-top:50px ;
}
.card-12{
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.5s;
    border: 1px solid rgb(211, 202, 202);
    border-radius: 10px;
}
.card-12:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

